#navcontent{float:left; width: 90%; }

#navactions{float:right;}
.logo{float:left; }
.link{float:left; font-size: 14px; padding-left: 10px;   }
#page{max-width: 1200px; margin: auto; width: 100%; min-width: 100%;  }

#listactions {font-size: 40px; }
#listactions .fa{margin-right: 10px;}
.deletebutton{display:none;}

.ui-icon {
    background-image: url("");
}
.deleteelement{float:right;text-align:right; }
.deleteOff{display:none; }
.deleteOn{display:block; }
.addpageOff{display:none;}
.elements .designer{box-shadow:inset 0px 0px 0px 1px #0000ff;}
.close{margin-top: 0px; margin-left: -5px;}
.boxtitle{margin-top: -32px; margin-left: 12px; margin-bottom: 10px;}
#lightbox{
	position:fixed;
	 top:100px; 
    left:10%;
    width:auto;
    height: auto;
    min-height: 10px;
    max-height: 700px;
    max-width: 1100px; 
    min-width: 200px; 
    background:#1e1e1e; color: #fff; 
    border: solid 1px #ddd;
    opacity: 0.9;
    text-align:left;
    display:none;
    z-index: 10001; 
    padding: 10px;
    padding-top: 3px;
    border-radius: 10px;
 
    }
    
    #formElement{text-align: center; }
   .editbutton{position: absolute; top:90%;
	   			z-index:0;  
				text-align: left; 
				display:none;
				min-width:80%; 
				height: 20px;
				line-height: 20px;
				margin:0px;
				padding:-5%;
				font-size: 15px;  opacity: 0.9;
				background: #eeeeee; 
				color #000 ;
				font-family: helvetica; 
				font-weight: bold;
				}
								

	