ul {padding-left: 0px;}
#boxlist{padding-left:0px; !important}
.secretmenu { font-family: helvetica; color: #333333; }
.secretmenu a{color: #333333;}
#nav{clear: both; width: 100%; z-index: 2; position:relative; }
#navcontent{clear:both; width: 100%; position: relative; z-index: 2; }
#bg{height: 100%; width: 100%; overflow: hidden; position: fixed; top: 0px; left: 0px; }
#navactions{position:fixed; top:5px; right:5px;}
.logo{float:none; text-align: center; width: 100%; position: relative; z-index: 3;  }
.link{float:left; font-size: 14px; padding-left: 0px;   }
#page{margin: auto; width: 100%; min-width: 100%;  width: 1000px; position: relative; opacity: 0.99;  }
.front{z-index: 10000; !important}
#listactions {font-size: 40px; }
#listactions .fa{margin-right: 10px;}
.deletebutton{display:none;}

.ui-resizable-handle, .ui-resizable-se, .ui-icon, .ui-icon-gripsmall-diagonal-se
{ display:none; 
    background-image: url("");
     display:none; 
     z-index: 100000000;
}

.deleteelement{float:right;text-align:right; }
.deleteOff{display:none; }
.deleteOn{display:block; }
.addpageOff{display:none;}
.elements .designer{box-shadow:inset 0px 0px 0px 1px #0000ff;}
.close{margin: 0px; margin-left: -5px;}


.boxtitle{margin-top:-15px; margin-left: 20px; margin-bottom: 10px;}
#lightbox{
	position:fixed;
	 top:100px; 
    left:10%;
    width:auto;
    height: auto;
    min-height: 10px;
    max-height: 700px;
    max-width: 1100px; 
    min-width: 200px; 
    background:#1e1e1e; color: #fff; 
    border: solid 1px #ddd;
    opacity: 0.9;
    text-align:left;
    display:none;
    z-index: 10001; 
    padding: 10px;
    padding-top: 3px;
    border-radius: 10px;
 
    }
    
    #formElement{text-align: center; }
   .editbutton{position: absolute; top:20px; 
	   			z-index:1000000;  
				text-align: left; 
				display:none;
				min-width:90%; 
				height: 25px;
				line-height: 20px;
				margin:0px;
				padding:-30px;
				font-size: 25px;  opacity: 0.9; 
				padding: 5px; 
				border-radius: 5px; 
				background: #eeeeee; 
				color :#000 ;
				font-family: helvetica; 
				font-weight: bold;
				}
				
		.editbutton a{color: #000000;}	
		#bgtoggle{font-size: 14px;  magin-right: 5px;}
			#bannertoggle{font-size: 14px;  magin-right: 5px;}
			.stacker{display:none;}

		@media (max-width:1000px){
			#maincontent{width: 100%;}
			#page{width: 100%;}
			.elements
			{
			width: 90%;
			height: auto;
			font-size: 15px; 
			line-height: 15px; 
			position: relative;
			left:0px;
			top: 0px;
			margin:auto; 
			margin-top:10px;
			}
			.pagecontents{height: auto;} 
				
			.mover{display:none; padding-right: 10px; }	
			.stacker{display:block; padding-right:10px;}
			.ui-icon, .ui-resizeable-sw, .ui-resizeable-se, .ui-resizeable-s, .ui-resizeable-e, .ui-resizeable-w{display:none;}	
			 				
			 				
			 				}	

	