body{margin: 0px;} 
#maincontent {margin: 0px; width: 100%; max-width: 960px; margin-left: auto; margin-right: auto;}
	
a {text-decoration: none; }
#header{
	text-align:center; 
	background:#eeeeee; 
	height:50px; 
	margin:0px; 
	padding-top: 20px; 
	font-size: 30px; 
	min-width: 100%; 
	}
	
li{list-style-type: none;}