body{margin: 0px;} 
#maincontent {margin: 0px; width: 100%; max-width: 1200px; margin-left: auto; margin-right: auto;}
	
a {text-decoration: none; }
#header{
	text-align:center; 
	background:#eeeeee; 
	height:50px; 
	margin:auto;
	margin-top: 0px; 
	padding-top: 10px; 
	font-size: 30px; 
	width: 100%; 
	max-width: 1200px;
	position: relative; 
	z-index: 2;
	}
	
li{list-style-type: none;}