#admincontent{position: fixed; top:0px; left: 0px;  z-index: 10000;   }
#adminlogin{position: fixed; top:0px; left: 0px; z-index: 10000;}
.secretmenu{padding: 10px; display:none; position: relative;  background: #fff; box-shadow: 3px 3px 5px -3px #000; border-radius: 10px; z-index: 10000; font-size: 25px; min-width:200px; }